*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
google-services.json
*.keystore
*.jks
app/keystore.properties

# Middleware
middleware/node_modules/
middleware/.env
middleware/dist/
middleware/*.log


# OS
Thumbs.db
